# dependencies
node_modules/

# Next.js build output
.next/
out/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.playwright-mcp/
